
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400;500;600;700;800&family=Sofia+Sans+Extra+Condensed:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Baloo Bhai 2', cursive;
}
#nav{
    height: 100vh;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background: #00968783;
    padding: 50px 0;
    transition: .4s ease;
}
#nav .logo{
    font-size: xx-large;
    font-family: sans-serif;
    font-weight: 800;
    letter-spacing: 1px;
    margin: 0 50px;
    text-shadow: 0 2px 4px #fff;
    color: red, #111;
}
#nav .logo span{
    color: #fff;
    font-family: sans-serif;
}
.navbar{
    margin: 80px 0;
}
.navbar a{
    color: #111;
    display: inline-block;
    margin: 15px 40px;
    padding: 7px 30px;
    font-weight: 600;
    text-shadow: 0 2px 4px #fff;
}
.navbar a:hover,
.navbar a.active{
    color: #fff;
}
#menubtn{
    position: fixed;
    top: 20px;
    left: 20px;
    height: 30px;
    width: 30px;
    cursor: pointer;
}
#menu{
    color: #009688;
    font-size: 25px;
    text-shadow: 0 1px 1px #fff;
}

/* Home Section*/
.home{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.2), #327d76), url(./background1.jpeg) no-repeat center;
    background-size: center;
    background-image: center;
}
.home-content{
    text-align: center;
    padding-top: 200px;
}
.home-content h2{
    font-size: 50px;
    font-weight: 700;
    text-shadow: 0 2px 4px #fff;
}
.home-content p{
    padding: 0 200px;
    margin: 50px 0 0;
    font-size: 20px;
    
    text-shadow: 0 2px 4px #fff;
}
.home-content .home-btn{
    margin: 10px auto 0;
}
.home-content .home-btn .btn{
    display: inline-block;
    position: relative;
    color: #111;
    padding: 7px 28px;
    border: 1px solid #111;
    margin: 10px;
    transition: .4s ease;
    
}
.home-btn .btn:hover{
    color: #111;
    border-color: #fff;
    
}

/* About Section*/
.about{
    padding: 30px 10px;
    background: #009688dc;
}
.about-content{
    padding-left: 200px;
    padding-top: 30px;
    display: flex;
}
.about .title{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    position: relative;
}
.about .title::before{
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 3px;
    width: 100px;
    background-color: #111;
    transform: translateX(-50%);
}
.about .title::after {
    content: 'who we are';
    position: absolute;
    left: 50%;
    bottom: -9px;
    font-size: 13px;
    color: #111;
    background: #009688;
    padding: 2px 5px;
    transform: translateX(-50%);
}
.about .about-content .left{
    width: 50%;
    margin: 10px 0;
}
.about .left .row{
    margin-bottom: 10px;
    cursor: pointer;
    transition: .4s ease-in-out;
}
.about .left .row:hover{
    background-color: #009688;
}
.about .left .fa-solid,
.about .left .fa-brands {
    font-size: 35px;
    transition: .4s ease-in-out;
}
.about .left .row:hover .fa-solid,
.about .left .row:hover .fa-brands {
    color: #fff;
}
.about .left .text{
    font-size: 30px;
    font-weight: 700;
    margin: 10px 0;
    transition: .2s ease-in-out;
}
.about .left .text:hover {
    text-shadow: 0 2px 4px #fff;
    padding-left: 10px;
}
.about .about-content .right{
    width: 50%;   
}  
.about .about-content .right img{
    width: 100%;
    height: 550px;
}


/* Services section */
.services {
    padding: 30px 10px;
    background: #009688bc;
}
.services .title{
    font-size: 40px;
    font-weight: 700;
    position: relative;
    text-align: center;
    margin-bottom: 40px;
}
.services .title::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    background: #111;
    height: 3px;
    width: 150px;
    transform: translateX(-50%);
}

.services .title::after {
    content: 'what we provide';
    position: absolute;
    left: 50%;
    bottom: -9px;
    font-size: 13px;
    color: #111;
    background: #009688;
    padding: 2px 5px;
    transform: translateX(-50%);
}
.services .services-content{
    display: flex;
    flex-wrap: wrap;
    padding-left: 200px;
}
.services .services-content .box{
    text-align: center;
    width: calc(33% - 20px);
    margin: 10px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: .4s ease-in-out;
}
.services .services-content .box::before{
    content: 'Book Appointment';
    color: #111;
    font-size: 30px;
    font-weight: 700;
    visibility: hidden;
    position: absolute;
    height: 0%;
    width: 100%;
    top: 0;
    left: 0;
    background: #00968783;
    transition: .4s ease-out;
}
.services .services-content .box:hover:before{
    height: 100%;
    visibility: visible;
}
.services .services-content .box img{
    height: 350px;
    width: 350px;
    object-fit: cover;
}
.services .services-content .box h2{
    transition: .4s ease-out;
}
.services .services-content .box:hover h2{
    text-shadow: 0 2pxx 4px #fff;
    transform: scale(1.07);
}

/* Team Section*/

.team {
    padding: 30px 10px;
    background: #009688bc;
}
.team .title{
    font-size: 40px;
    font-weight: 700;
    position: relative;
    text-align: center;
    margin-bottom: 40px;
}
.team .title::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    background: #111;
    height: 3px;
    width: 150px;
    transform: translateX(-50%);
}

.team .title::after {
    content: 'Our staff';
    position: absolute;
    left: 50%;
    bottom: -9px;
    font-size: 13px;
    color: #111;
    background: #009688;
    padding: 2px 5px;
    transform: translateX(-50%);
}
.team .team-content{
    display: flex;
    flex-wrap: wrap;
    padding-left: 200px;
}
.team .team-content .box{
    text-align: center;
    width: calc(33% - 20px);
    margin: 10px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    transition: .4s ease-in-out;
}
.team .team-content .box::before{
    content: '';
    color: #111;
    font-size: 30px;
    font-weight: 700;
    visibility: hidden;
    position: absolute;
    height: 0%;
    width: 100%;
    top: 0;
    left: 0;
    background: #00968783;
    transition: .4s ease-out;
}
.team .team-content .box:hover:before{
    height: 100%;
    visibility: visible;
}
.team .team-content .box img{
    height: 350px;
    width: 350px;
    object-fit: cover;
}
.team .team-content .box h2{
    transition: .4s ease-out;
}
.team .team-content .box:hover h2{
    text-shadow: 0 2pxx 4px #fff;
    transform: scale(1.07);
}

.contact{
    padding: 30px 10px;
    background: #009688bc;
}
.contact .title{
    font-size: 40px;
    font-weight: 700;
    position: relative;
    text-align: center;
    margin-bottom: 60px;
}
.contact .title::before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    background: #111;
    height: 3px;
    width: 120px;
    transform: translateX(-50%);
}

.contact .title::after {
    content: 'get in touch';
    position: absolute;
    left: 50%;
    bottom: -9px;
    font-size: 13px;
    color: #111;
    background: #009688;
    padding: 2px 5px;
    transform: translateX(-50%);
}
.contact .contact-content {
    padding-left: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.map-box{
    height: 400px;
    width: 100%;
    margin: auto;
    padding: 30px 0;
}

.map-box iframe{
    height: 100%;
    width: 100%;
}
.contact .contact-content .left{
    
    width: 40%;
}
.contact .left .row{
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
.contact .left i {
    font-size: 25px;
}
.contact .left .info{
    margin-left: 35px;
}
.contact .left .info p {
    font-size: 14px;
}



.contact .contact-content .right{
    width: 60%;
}
.contact  .comment-box input,
.contact  .comment-box textarea {
    width: 100%;
    padding: 8px;
    outline: none;
    border: none;
    resize: none;
    margin: 5px 0;
    background: rgba(255, 255, 255, 0.151);
}
.contact .comment-box .btn {
    width: 50%;
    cursor: pointer;
    padding: 7px;
    background: rgba(255, 255, 255, 0.151);
    border: 1px solid #111;
    text-shadow: 0 2px 4px #fff;
    transition: .4s ease;
}
.contact .comment-box .btn:hover {
    border: 1px solid #fff;
    color: #fff;
}

footer{
    width: 100%;
    padding: 10px 0 0;
    background: #009688ac;
    text-align: center;
    padding-left: 200px;
}
footer p{
    font-size: 16px;
}
.icons{
    margin: 10px 0;
    }
    .icons .fa-brands{
        margin: 20px 5px;
        font-size: 20px;
        cursor: pointer;
    }
    .icons .fa-brands:hover{
        color: #009688bc;
    }
    .copyright{
        background: #009688bc;
    }
    .copyright a{
        color: #111;
    }
    .copyright a:hover{
        color: #fff;
        text-decoration: underline;
    }


/* responsive website */

@media (max-width: 1000px){
    .home-content p{
        margin: 20px 0 0;
    }
    .about .about-content .column{
        width: 100%;
        
    }
    .about-content{
        display: block;
    }
    .services .services-content .box{
        width: calc(50% - 20px);
    }
    .team .team-content .box{
        width: calc(50% - 20px);
    }
    
}
@media (max-width: 730px){
    .home-content p{
        margin: 20px 0 0;
    }
    .home-content h2{
        font-size: 40px;
    }
    .home-content .home-btn .btn{
        padding: 5px 20px;
    }
}
@media (max-width: 700px){
    #nav{
        left: -200px;
        backdrop-filter: blur(4px);
    }
    .home-content p{
        padding: 0 50px;     
    }
    .about-content{
        padding: 20px 50px;
    }
    .about .about-content .column{
        width: 100%;
    }   
    #menubtn{
        display: block;
    }
    .services .services-content,
    .contact .contact-content,
    .team .team-content,
    footer
    {
        padding-left: 0px;
    }
    .services,
    .team,
    .contact
    {
        padding: 30px 50px;
    }
    
    
}
@media (max-width: 600px){
    .contact .contact-content .column{
        width: 100%;
    }
}
@media (max-width: 530px){
    .services .services-content .box{
        width: calc(100% - 20px);
    }
}
@media (max-width: 530px){
    .team .team-content .box{
        width: calc(100% - 20px);
    }
}

@media (max-width: 400px){
    .home-content{
        padding-top: 100px;
    }
    .home-content p{
        padding: 0 20px;     
    }
    .home-content .home-btn .btn{
        margin: 5px;
        padding: 5px 15px;
    }
    .about-content{
        padding: 20px 50px;
    } 
}